*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    display: flex;
    max-width: 1080px;
    margin: 0px auto;
}

.border{
    border: 2px dotted black;
}

.flex{
    display: flex;
}


/* header */

header{
    background-color: rgb(144, 255, 255);
}

/* header nav */

nav{
    height: 50px;
    justify-content: space-between;
    /* background-color: rgb(255, 186, 96); */
    align-items: center;
}

.logo, .menu, .login{
    background-color: rgb(255, 186, 96);
    padding: 5px 10px;
}

.logo, .login{
    width: 20%;
}

.login{
    text-align: right;
}


.menu{
    width: 60%;
    text-align: center;
}


/* header main */

.color-blue{
    background-color: blue;
    height: 300px;
}

.color-fucsia{
    background-color: fuchsia;
    width: 900px;
    margin: 30px auto;
    align-items: center;
}



/* main */

.color-lightblue{
    background-color: lightskyblue;
    height: 400px;
    flex-grow: 1;
    margin: 30px 0px;
}

.color-pink{
    background-color: pink;
    flex-basis: 40%;
    margin: 30px 0px;
}

.color-lightgrey{
    background-color: lightgrey;
}
.color-lightlightgrey{
    background-color: rgb(224, 224, 224);
    /* height: 600px; */
}

.color-green{
    background-color: green;
    flex-grow: 1;
    margin: 30px auto;
    align-items: center;
    height: 500px;
}